.gradle
/build/
/target/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
functional-output/

git.properties

settings.gradle

lombok.config

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeansA
.gitattributes

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

### Terraform ###
infrastructure/.terraform

.DS_Store
